@font-face {
	font-family: "Circular-Normal";
		src: url("fonts/CircularStd-Book.otf");
}
@font-face {
	font-family: "Circular-Bold";
		src: url("fonts/CircularStd-Bold.otf");
}

body {
	background: url("img/wallpaper.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	padding-left : 10%;
	padding-top : 10px;
}

span{
	color: white;
	font-family: Circular-Normal;
	font-size: medium;
}

p{
	color: gray;
	font-family: Circular-Bold;
	font-size: 0.9em;
}

#cover{
	border-radius: 0px;
	margin: 0px;
	width: 150px;
	height: 150px;
	display: inline-block;
	background-image: url("img/black.png");
}

div{
	width: 150px;
	height: 150px;
	background-size: contain;
	border-radius:10px;
	display: inline-block;
	margin : 10px;
}

#audio1-container {
	background-image: url("img/fip.png");
}
#audio2-container {
	background-image: url("img/fip_electro.png");
}
#audio3-container {
	background-image: url("img/fip_groove.png");
}
#audio4-container {
	background-image: url("img/fip_rock.png");
}
#audio5-container {
	background-image: url("img/fip_jazz.png");
}
#audio6-container {
	background-image: url("img/fip_nouveau.png");
}
#audio7-container {
	background-image: url("img/fip_reggae.png");
}
#audio8-container {
	background-image: url("img/fip_monde.png");
}

audio {
	display: none;
}

#audio1-controls, #audio2-controls, #audio3-controls, #audio4-controls, #audio5-controls, #audio6-controls, #audio7-controls, #audio8-controls {
	height: 96px;
	width: 84px;
	display: block;
	margin:0px;
	border-radius: 10px;
	padding-top: 27px;
	padding-left: 33px;
	opacity: 0;
	color: #FFF;
	-webkit-transition: opacity .3s;
	-moz-transition: opacity .3s;
	-o-transition: opacity .3s;
	-ms-transition: opacity .3s;
	transition: opacity .3s;
	);
}

#audio1-container:hover #audio1-controls {
	opacity: .9;
}
#audio2-container:hover #audio2-controls {
	opacity: .9;
}
#audio3-container:hover #audio3-controls {
	opacity: .9;
}
#audio4-container:hover #audio4-controls {
	opacity: .9;
}
#audio5-container:hover #audio5-controls {
	opacity: .9;
}
#audio6-container:hover #audio6-controls {
	opacity: .9;
}
#audio7-container:hover #audio7-controls {
	opacity: .9;
}
#audio8-container:hover #audio8-controls {
	opacity: .9;
}


button:hover {
	cursor: pointer;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
    color: white;
}
p {
	margin: 0px;
}
#footer{
	height: AUTO;
	top: 0;
	margin: 0px;
	margin-left: 10px;
	width: 400px;
}
