@font-face {
	font-family: "Circular-Normal";
		src: url("fonts/CircularStd-Book.otf");
}
@font-face {
	font-family: "Circular-Bold";
		src: url("fonts/CircularStd-Bold.otf");
}

body {
	background: url(wallpaper.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	padding-left : 150px;
	padding-top : 10px;
}

span{
	color: white;
	font-family: Circular-Normal;
	font-size: medium;
}

p{
	color: gray;
	font-family: Circular-Bold;
	font-size: 0.9em;
}

#cover{
	border-radius: 0px;
	margin: 0px;
	width: 150px;
	height: 150px;
	display: inline-block;
	background-image: url("black.png");
}

div{
	width: 150px;
	height: 150px;
	background-size: contain;
	border-radius:10px;
	display: inline-block;
	margin : 10px;
}

#audio-container {
	background-image: url("fip.png");
}
#audio2-container {
	background-image: url("fip_electro.png");
}
#audio3-container {
	background-image: url("fip_groove.png");
}

audio {
	display: none;
}

#audio-controls {
	display: block;
	margin:auto;
	border-radius: 10px;
	padding-top: 44px;
	padding-left: 51px;
	opacity: 0;
	color: #FFF;
	-webkit-transition: opacity .3s;
	-moz-transition: opacity .3s;
	-o-transition: opacity .3s;
	-ms-transition: opacity .3s;
	transition: opacity .3s;
	);
}

#audio2-controls {
	display: block;
	margin:auto;
	border-radius: 10px;
	padding-top: 44px;
	padding-left: 51px;
	opacity: 0;
	color: #FFF;
	-webkit-transition: opacity .3s;
	-moz-transition: opacity .3s;
	-o-transition: opacity .3s;
	-ms-transition: opacity .3s;
	transition: opacity .3s;
	);
}
#audio3-controls {
	display: block;
	margin:auto;
	border-radius: 10px;
	padding-top: 44px;
	padding-left: 51px;
	opacity: 0;
	color: #FFF;
	-webkit-transition: opacity .3s;
	-moz-transition: opacity .3s;
	-o-transition: opacity .3s;
	-ms-transition: opacity .3s;
	transition: opacity .3s;
	);
}

#audio-container:hover #audio-controls {
	opacity: .9;
}
#audio2-container:hover #audio2-controls {
	opacity: .9;
}
#audio3-container:hover #audio3-controls {
	opacity: .9;
}


button:hover {
	cursor: pointer;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
    color: white;
}
p {
	margin: 0px;
}
#footer{
	height: AUTO;
	top: 0;
	margin: 0px;
	margin-left: 10px;
	width: 400px;
}
